body {
    
    overflow-x: hidden;
    font-family: 'Open Sans' , sans-serif;
    text-rendering:  optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #dcedeb;
} 



.top-header {
    background: #dcedeb !important;
  
}

.top-header img.logo {
    margin-bottom: 0px;
    margin-top: -15px;
    padding: 18px 0px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
}
.top-search {
    float: right;
    top: 40px;
}
.top-search form{
    float: right;
}
.top-search input[type=text]{
    float: right;
    border-radius: 0%;
    width: 70%;
    float: left;  
    border-radius: 50px;
    height: 35px;
    transition: all .7s ease 0s;

}
.top-search input[type=text]:hover {
    background-color: #ffcf95;
    }
    .top-search input[type=text]:focus {
    background-color: #ffcf95;
    }
.top-search .btn {
    border-radius: 0%;
    width: 30%;
    float: right;
    border:solid #5f5f5f 2px;
    border-left: 0;
    background-color: #3b5e85;
    height: 35px;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all .7s ease 0s;
}
.top-search .btn:hover {
    background-color: #344f6e;
}
.navbar-default {
    margin-bottom: 0;
    margin-top: 0;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
}
.navbar {
    background-color: #344f6e;
    border: 0;
    border-bottom: solid #f48b0b 6px;
    padding: 0;
    border-radius: 0;
}
.navbar-toggle span {
    color: #fff;
}
ul.nav {
    margin: 0;
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Heebo-Regular',sans-serif;
    font-size: 13px;
    color: #d6dfe9;
    border-left: solid #c1cdda 1px;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
    padding: 12px 20px;
    margin: 0;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #f48b0b;
}

.navbar-default .navbar-nav>li>a:focus {
    background: #f48b0b;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:active {
    background: #f48b0b;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:visited {
    background: #f48b0b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.border-rght {
    border-right: solid #c1cdda 1px;
}

li a.active {
    color: #fff !important;
    background-color: #f48b0b;

}
.navbar-default .navbar-toggle {
    border-color: #fff;
    margin-top: 4px;
}
.dropdown-menu {
    font-size: 15px;
    background-color: #f48b0b;
    width: 200px;
    border:0;
    border-radius: 0;
}
.dropdown-menu>li>a {
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    padding: 10px;
    border-bottom: solid #feba69 1px;
    transition: all .5s ease 0s;
    color: black;
}
.dropdown-menu,li{
    font-size: 20px;
}
.dropdown-menu>li>a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 25px;
    transition: all .5s ease 0s;
}
     
.menu {
    margin: 0;
}


/***********************Footer section************************/

.footer-section {
    height: 100%;
    background-color: #0a305c;
    border-top:solid #f48b0b 5px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 50px;
}

.footer-section p {
    font-size: 22px;
    color: #e9e9e9;
    margin-top: -35px;
}
.footer-section a {
    text-decoration: none;
    color: #a3b6cb;
    font-size: 16px;
    transition: all 0.4s ease 0s;
}
.footer-section a:hover {
    color: #d2dfee;
    padding-left: 5px;
    transition: all 0.4s ease 0s;
}
.footer-section .fa-link{
    color: #d2dfee;
    font-size: 16px;

}
.footer-area {
    margin-top: 50px;
}

.footer-section hr {
    border: 1px solid #5f7690;
}
/******************************
responsive area
********************************/


/* md */

@media (min-width: 992px) and (max-width: 1199px) {

.navbar {
    background-color: #344f6e;
    border: 0;
    border-bottom: solid #f48b0b 8px;
    padding: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    font-size: 10px;
}
/* sm */
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
    font-size: 9px;
    padding: 12px 10px;
    font-weight: bold;
}
}
/* xs */

@media (min-width: 480px) and (max-width: 767px) {
  .navbar-default .navbar-nav>li>a {
    border:0;
}
.dropdown-menu>li>a {
    border:0;
}
.border-rght {
    border: 0;
}
.top-search {
    display: none;
}
}
/*

/* XS Portrait */

@media (max-width: 479px) {
  .navbar-default .navbar-nav>li>a {
    border:0;
}
.dropdown-menu>li>a {
    border:0;
}
.border-rght {
    border: 0;
}
.top-search {
    display: none;
}
}